
html,body {
       height: 100%;
     
}

body{
    
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background: #020024;
    background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
 
}

.weather-container{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background: #83a4d4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b6fbff, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.weather-image img{
    height: 300px;
    display: none;

}

.weather-specifics{
    width: 100%;
    display: none;
}

.weather-specifics h1{
    font-size: 3rem;
    color: black;
    height: 40px;
}

.weather-specifics h2{
    color: black;
    height: 20px;
}

.Min-Max{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.Min-Max p{
    color: black;
    font-size: 2rem;
}

.input-box{
    width: 80%;
    display: flex;
    gap: 1rem;
}

.City-Enter{
    border: none;
    height: 2rem;
    padding-left: 1rem;
    border-radius: 20px;
    font-family: Roboto;
    background: white;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    
}

.City-Enter::placeholder{
    color: black;
}

.Search-Button{
    width: 2rem;
    border: none;
    border-radius: 20%;
    cursor: pointer;
    background: white;
    background-color: rgba(255, 255, 255, 0.2);
    transition: 0.1s;
    margin-right: 1rem;
}

.Search-Button:active{
    transform: scale(0.98); /* Or translateY(2px) for a downward shift */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Reduced shadow */
    transition: 0.2s all;
}

.error{

    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    width: 100%;
    display: none;
}